.mar-t20{margin-top: 0.2rem;}
.mar-t40{margin-top: 0.4rem;}
.mar-l70{margin-left: 0.7rem;}
.mar-l20{margin-left: 0.2rem;}
.mar-l44{margin-left: 0.44rem;}
.f20{font-size: 0.20rem;}
.f22{font-size: 0.22rem;}
.f24{font-size: 0.24rem;}
.f26{font-size: 0.26rem;}
.f28{font-size: 0.28rem;}
.f30{font-size: 0.30rem;}
.f32{font-size: 0.32rem;}
.f34{font-size: 0.34rem;}
.f36{font-size: 0.36rem;}
.f38{font-size: 0.38rem;}
.f40{font-size: 0.40rem;}
.color-333{color: #333;}
.color-888{color: #888;}
.color-666{color: #666;}
.color-FD9801{color: #FD9801;}
.color-FF6600{color: #FF6600;}
.color-41A5FD{color: #41A5FD;}
.color-999{color: #999999;}
.bgc-41A5FD{background: #41A5FD;}
.bgc-FF6600{background: #FF6600;}
.bac-FD9801{background: #FD9801;}
.bgc-CCCCCC{background: #CCCCCC;}
.tac{text-align: center;}
.p-b20{padding-bottom: 0.2rem;}
.pa{position: absolute;}
.pr{position: relative;}
.fl{float: left;}
.fr{float: right;}
